@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font family */
  --body: "Montserrat", serif;
  --header: "Lato", sans-serif;
  
  /* colors */
  --base: #e4f2f7;
  --light-1 : #AABFC3;
  --light-2 : #8BB2B7;
  --light-3 : #77A6C0;
  --dark-1 : #979B9A;
  --dark-2 : #314346;
  --dark-3 : #222e30;
  --dark-4 : #192224;
  
  /* width */
  --max-width-1400: 1400px;
  --max-width-1200: 1200px;
  --max-width-900: 900px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* sections */
.section__container {
  max-width: var(--max-width-1400);
  margin: 0 auto;
}
body {
  background: var(--base);
  color: var(--dark-4);
  font-family: var(--body-font);
}
h1,h2,h3,h4,h5 {
  font-family: var(--header-font);
  font-style: normal;
  color: var(--light-4_hover);
}
input, textarea {
  border: 1px solid var(--light-1);
  border-radius: 4px;
  outline: none;
  padding: .5rem;
}
.btn {
  padding: .5rem 1.5rem;
  background-color: var(--light-3);
  color: var(--dark-3);
  font-size: medium;
  font-weight: 700;
  border-radius: 4px;
  transition: color .5s;
}
.add-btn {
  padding: .5rem 1.5rem;
  background-color: var(--dark-3);
  color: var(--base);
  font-size: medium;
  font-weight: 700;
  border-radius: 4px;
  transition: .5s;
}
.add-btn:hover{
  background-color: var(--dark-4);
}